$content-width: 80%;
$main: #7EA23A;
$font-style: 'Helvetica' ,'Segoe UI', sans-serif;
$font-color: #262626;
$link-color: #425469;
$link-hover-color: $main;
$heading-font: 'Helvetica', 'Muli', sans-serif;
$heading-font-color: #425469;
$light: #E7EDF4;
$header:  whitesmoke;
$background: #f9f9f9;

*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}