body {
	margin: 0;
	color: $font-color;
	font-family: $font-style;
	font-size: 1.1em;
	line-height: 1.6;
	-webkit-font-smoothing: antialiased;
}

h1,
h2,
h3 {
	font-weight: 600;
	color: $heading-font-color;
	font-family: $heading-font;
	line-height: 1.2;
}

h1,
h2 {
	color: $main;

	a,
	a:visited {
		text-decoration: none !important;
		color: $main;
	}
}

h1 {
	font-size: 2.2em;
	color: $link-color;
}

h2 {
	font-size: 1.6em;
	color: $link-color;
}

a,
a:visited {
	color: $link-color;
	text-decoration: none;
	font-weight: 500;
}

a:hover {
	color: $link-hover-color;
	text-decoration: none;
}

a.menuitem {
	font-size: 0.9em;
}

#headerdiv {
	position: fixed;
	top: 0px;
	width: 100%;
}


//______________ Inicio estilos menu
#menudiv {
	position: fixed;
	top: 7%;
	height: 90%;
	width: 20%;
	overflow: auto;
	overflow-x: auto;
	overflow-y: auto;
	padding: 22px 0px 0px 4px;
	background-color: whitesmoke;
}

ul.ulmenu {
	float: left;
	width: 20em;
	line-height: 1.3em;
	padding: 0;
	margin: 0;
	overflow: hidden;
	overflow-x: hidden;
	overflow-y: hidden;
	list-style: none;
	margin-left: 5px;
}

ul.ulmenu ul.ulmenu {
	text-indent: 1em;
	overflow-x: hidden;
	overflow-y: hidden;
}

ul.ulmenu ul.ulmenu ul.ulmenu {
	text-indent: 2em;
	overflow-x: hidden;
	overflow-y: hidden;
}

ul.ulmenu ul.ulmenu ul.ulmenu ul.ulmenu {
	text-indent: 3em;
	overflow-x: hidden;
	overflow-y: hidden;
}

ul.ulmenu ul.ulmenu ul.ulmenu ul.ulmenu ul.ulmenu {
	text-indent: 4em;
	overflow-x: hidden;
	overflow-y: hidden;
}

//______________ Fin estilos menu

#fbuscar {
	float: left;
	margin-left: 5px;
}

#msearch-box {
	width: 50%;
}

header {
	background: $header;
	padding: 10px 15px;
	background-image: url('/images/OasisCom_logot.png');
	background-position: 1.5rem center;
	background-size: auto 100%;
	background-repeat: no-repeat;
	margin: 0px 0 0;
	height: 7vh;
	display: flex;
	align-items: center;

	h1,
	h2 {
		margin-left: 25%;
		text-align: center;
	}

	#hmsearch-box {
		margin-left: 4%;
		width: 65%;
		opacity: 0.8;
		height: 25px !important;
		border: none !important;
	}

	#hmsearch-box:hover {
		opacity: 1;
	}

	#formSearch {
		width: 60% !important;
	}

	#ibuscar {
		vertical-align: middle;
		width: 1.2rem
	}
}

#maindiv {
	margin-top: 5%;
	left: 20%;
	float: rigth;
	position: fixed;
	height: 90%;
	width: 80%;
	overflow: auto;
	overflow-x: auto;
	overflow-y: auto;
}

main {
	margin-left: 1%;
	padding: 0 0px;
	max-width: $content-width;
}

time {
	color: #898989;
}

.container {
	max-width: $content-width;
	margin: 0 auto;
}

footer {
	text-align: center;
	padding: 40px;
}